@model EntityLayer.Concrete.Mail

@{
    ViewBag.Title = "Mail Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Compose</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!--mail inbox start-->
    <div class="mail-box">
        @Html.Action("MessageListMenu", "Mail")
        <aside class="lg-side">
            <div class="inbox-head">
                <h3>Mail Detayları</h3>
            </div>
            <div class="inbox-body">
                <div class="heading-inbox row">
                    <div class="col-md-8">
                        <div class="compose-btn">
                            <a class="btn btn-sm btn-primary" href="http://thevectorlab.net/flatlab/mail_compose.html"><i class="fa fa-reply"></i> Yanıtla</a>
                            <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn  btn-sm tooltips"><i class="fa fa-print"></i> </button>
                            <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm tooltips"><i class="fa fa-trash-o"></i></button>
                        </div>

                    </div>
                    <div class="col-md-4 text-right">
                        <p class="date"> @Model.Date.ToString("dd MM yyyy hh:mm") </p>
                    </div>
                    <div class="col-md-12">
                        <h4>@Model.Subject</h4>
                    </div>
                </div>
                <div class="sender-info">
                    <div class="row">
                        <div class="col-md-12">
                            <strong><a href="MailTo:@Model.SenderMail">@Model.SenderMail</a></strong>

                            dan
                            <span>[@Model.ReceiverMail]</span>
                        </div>
                    </div>
                </div>
                <div class="view-mail">
                    <p>@Model.Message</p>
                </div>
                <div class="attachment-mail">
                    <p>
                        <span><i class="fa fa-paperclip"></i> @Model.Document Ek &mdash; </span>
                        <a href="inbox_details.html#">Tüm Ekleri İndir</a>
                        |
                        <a href="inbox_details.html#">Tüm Ekleri Görüntüle</a>
                    </p>
                    <ul>
                        <li>
                            <a href="inbox_details.html#" class="atch-thumb">
                            </a>

                            <div class="file-name">
                                @Model.Document
                            </div>
                            <span>0KB</span>


                            <div class="links">
                                <a href="inbox_details.html#">Görüntüle</a> -
                                <a href="inbox_details.html#">İndir</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="compose-btn pull-left">
                    <a class="btn btn-sm btn-primary" href="/Mail/NewMail" mail_compose.html"><i class="fa fa-reply"></i> Yanıtla</a>
                    <a class="btn btn-sm " href="/Mail/NewMail"><i class="fa fa-arrow-right"></i> İlet</a>
                    <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn  btn-sm tooltips"><i class="fa fa-print"></i> </button>
                    <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm tooltips"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>
        </aside>
    </div>
    <!--mail inbox end-->
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="js/respond.min.js"></script>

    <!-- BEGIN:File Upload Plugin JS files-->
    <script src="assets/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="assets/jquery-file-upload/js/vendor/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="assets/jquery-file-upload/js/vendor/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="assets/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="assets/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="assets/jquery-file-upload/js/jquery.fileupload.js"></script>
    <!-- The File Upload file processing plugin -->
    <script src="assets/jquery-file-upload/js/jquery.fileupload-fp.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="assets/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
</body>
